<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>brick.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -46.00000,18.00000 }</string>
                                <string>{ -41.00000,23.00000 }</string>
                                <string>{ 46.00000,-17.00000 }</string>
                                <string>{ 41.00000,-23.00000 }</string>
                                <string>{ -40.00000,-23.00000 }</string>
                                <string>{ -46.00000,-18.00000 }</string>
                            </array>
                            <array>
                                <string>{ 46.00000,-17.00000 }</string>
                                <string>{ -41.00000,23.00000 }</string>
                                <string>{ 41.00000,23.00000 }</string>
                                <string>{ 46.00000,18.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>ball.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 4.00000,-8.00000 }</string>
                                <string>{ -4.00000,-8.00000 }</string>
                                <string>{ -8.00000,-4.00000 }</string>
                                <string>{ -8.00000,4.00000 }</string>
                                <string>{ -6.00000,7.00000 }</string>
                                <string>{ 4.00000,8.00000 }</string>
                                <string>{ 8.00000,4.00000 }</string>
                                <string>{ 8.00000,-4.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>platform.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 20.00000,23.00000 }</string>
                                <string>{ 95.00000,-15.00000 }</string>
                                <string>{ 95.00000,-23.00000 }</string>
                                <string>{ -94.00000,-23.00000 }</string>
                                <string>{ -94.00000,-15.00000 }</string>
                                <string>{ -19.00000,23.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>cristal.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -6.00000,0.00000 }</string>
                                <string>{ 1.00000,17.00000 }</string>
                                <string>{ 7.00000,0.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 1.00000,-17.00000 }</string>
                                <string>{ -6.00000,0.00000 }</string>
                                <string>{ 7.00000,0.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>border.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -48.00000,8.00000 }</string>
                                <string>{ -44.00000,12.00000 }</string>
                                <string>{ 44.00000,12.00000 }</string>
                                <string>{ 48.00000,-8.00000 }</string>
                                <string>{ 44.00000,-12.00000 }</string>
                                <string>{ -44.00000,-12.00000 }</string>
                                <string>{ -48.00000,-8.00000 }</string>
                            </array>
                            <array>
                                <string>{ 48.00000,-8.00000 }</string>
                                <string>{ 44.00000,12.00000 }</string>
                                <string>{ 48.00000,8.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>core.png</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -11.00000,-11.00000 }</string>
                                <string>{ -11.00000,11.00000 }</string>
                                <string>{ 11.00000,11.00000 }</string>
                                <string>{ 11.00000,-11.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




