<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{16,0},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,24}</string>
                <key>spriteSourceSize</key>
                <string>{96,24}</string>
                <key>textureRect</key>
                <string>{{1296,0},{96,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{1392,0},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1488,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cristal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{1512,0},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,48}</string>
                <key>spriteSourceSize</key>
                <string>{192,48}</string>
                <key>textureRect</key>
                <string>{{1608,0},{192,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{1800,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d8149e464058aba3b1abbd452234d3:4bbfcb5431e356b59bc7790b58483a22:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
