<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barHorizontal_blue_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,105},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_blue_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{208,623},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_blue_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,134},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_green_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,163},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_green_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{208,642},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_green_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,192},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,221},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{237,642},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,250},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_shadow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,279},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_shadow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{208,661},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_shadow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,308},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_white_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{247,331},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_white_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{237,671},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_white_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,337},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_yellow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{208,366},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_yellow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{208,680},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_yellow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{247,360},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_blue_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,395},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_blue_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{217,509},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_blue_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,389},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_green_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,418},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_green_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{217,528},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_green_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,424},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_red_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,453},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_red_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{217,547},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_red_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,447},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_shadow_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,482},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_shadow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{217,566},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_shadow_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,476},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_white_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,505},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_white_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{208,585},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_white_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,511},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_yellow_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{246,534},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_yellow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{208,604},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_yellow_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{208,540},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossair_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{220,2},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blackOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{217,107},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{220,37},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blueOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{217,146},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{220,72},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_redOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{217,185},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{217,263},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_whiteOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{217,224},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{217,298},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_pointer3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{85,964},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_pointer3D_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{217,331},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_pointerFlat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{85,991},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_pointerFlat_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{217,354},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{208,699},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{208,726},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{208,753},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{208,780},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{208,807},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{85,937},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{117,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,700},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{235,795},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>glassPanel_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{237,585},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{235,813},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>glassPanel_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{237,604},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,719},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{237,623},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,738},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,757},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,776},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerBL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,105},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerBR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,105},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerTL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,208},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerTR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,208},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_corners.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,311},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_projection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,311},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metalPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,414},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,414},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_blueCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,517},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,517},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_greenCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,620},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2,937},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,620},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_redCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,723},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{105,723},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_yellowCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,834},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,377},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,399},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,421},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,443},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,465},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>square_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{217,487},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UISpacePackSpriteSheet.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83b156678a6f62b96a1797b95682690b:5ceb08f455bcb129944a87d5721d951c:ac58c4bb1401bb44098924f7ac276d8e$</string>
            <key>textureFileName</key>
            <string>UISpacePackSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
