<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_sliderDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{2,195},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_sliderLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{64,9},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_sliderRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{33,144},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_sliderUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{33,195},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_sliderDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{64,51},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_sliderLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{67,144},{39,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_sliderRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{67,178},{39,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_sliderUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{64,82},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grey_sliderDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{64,113},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grey_sliderEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{105,2},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grey_sliderHorizontal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,4}</string>
                <key>spriteSourceSize</key>
                <string>{190,4}</string>
                <key>textureRect</key>
                <string>{{118,2},{190,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grey_sliderLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{64,212},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grey_sliderRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{2,9},{39,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_sliderUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{2,144},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_sliderVertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,100}</string>
                <key>spriteSourceSize</key>
                <string>{4,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{4,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UISpriteSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05dd6be776fe9fd46166035eb99d5d8b:546d51f840190a0298214c6f4d19b385:73cc9f018a7bb85df3a704a9affa18a7$</string>
            <key>textureFileName</key>
            <string>UISpriteSheet.png</string>
        </dict>
    </dict>
</plist>
